#dir nav

alias clr='clear'

alias cl="clear"

alias cls="clear"

alias cldir="rm -rfv ./*"

alias cd1="cd .."

alias cd2="cd ../.."

alias cd3="cd ../../.."

alias cd4="cd ../../../.."

alias cd5="cd ../../../../.."


#list dirs
alias l="ls"

alias la="ls -a"

alias ll="ls -al"

alias lt='ls --human-readable --size -1 -S --classify'


#history
alias h="history"

alias h1="history 10"

alias h2="history 20"

alias h3="history 30"

alias hgrep='history | grep'

alias gh='history|grep'


#shell
alias :q="exit"

alias ext="exit"

alias quit="exit"

alias chown='chown --preserve-root'

alias chmod='chmod --preserve-root'

alias chgrp='chgrp --preserve-root'

alias chownr='chown --no-preserve-root'

alias chmodr='chmod --no-preserve-root'

alias chgrpr='chgrp --no-preserve-root'


#updates (debian based)
alias update-deb-full='sudo apt update && sudo apt upgrade -y'

alias update-deb='sudo apt update -y'


#system (best if used on an acutal linux system)
alias du1="du -d 1"

alias ports='sudo netstat -tulanp'

alias reboot="sudo /sbin/reboot"

alias poweroff="sudo /sbin/poweroff"

alias halt="sudo /sbin/halt"

alias shutdown="sudo /sbin/shutdown"

alias meminfo="free -m -l -t"

alias ports='sudo netstat -tulanp'

alias psmem="ps auxf | sort -nr -k 4"

alias psmem10="ps auxf | sort -nr -k 4 | head -10"

alias pscpu="ps auxf | sort -nr -k 3"

alias pscpu10="ps auxf | sort -nr -k 3 | head -10"

alias paux='ps aux | grep'

alias cpuinfo="lscpu"

alias cpuinfo="less /proc/cpuinfo"

alias gpumeminfo="grep -i --color memory /var/log/Xorg.0.log"

alias usage='du -ch | grep total'

alias totalusage='df -hl --total | grep total'

alias partusage='df -hlT --exclude-type=tmpfs --exclude-type=devtmpfs'

alias most='du -hsx * | sort -rh | head -10'


#clean neovim dirs
alias ndistclean='rm -rfv $HOME/.cache/nvim/ $HOME/.local/state/nvim/ $HOME/.local/share/nvim/ $HOME/.config/nvim/* $HOME/.config/nvim/.*'
alias nclean="rm -rfv $HOME/.config/nvim/* $HOME/.config/nvim/.*"  
